{% extends "layout.html" %}
{%block body %}
<style type="text/css">
    #content { width:800px;margin:0 auto;text-align: center; }
    #bigimage {
        border:none;
        max-width: 900px;
    }
</style>
    <div id="content">
        <img id="bigimage">
        <script>
            var jsonstr = '{{jsonstr}}'.replace(/&#34;/g, '"');
            var objs = eval('(' + jsonstr + ')');
            var i = 0;
            current = objs[i++];
            $('#bigimage').attr('src', 'http://jpretty.qiniudn.com/origin/big/' + current.image_save_name);
            $('#bigimage').click(function() {
                if(i >= objs.length) { alert('下面没有了');return; }
                //$(this).fadeOut(1500).attr('src', 'http://jpretty.qiniudn.com/origin/big/' + objs[i++].image_save_name).fadeIn();
                $(this).fadeOut().queue(function(next) {
                    $(this).attr('src', 'http://jpretty.qiniudn.com/origin/big/' + objs[i++].image_save_name).fadeIn()
                    next();
                });
            });
        </script>
    </div>
{% endblock %}